/*-----------------------------general */
body {
    background-color: #fff8e1;
}

/*-----------------------------buttons */
.btn_beer {
    height: 25px;
    width : 62px;
    line-height: 25px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

#beer_submit {
    padding-top: 50px;
}

.socdist_switch {
    margin-left:15px;
    margin-top:3em;
}

.addbtn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn-col{
    text-align: center;
    padding-bottom: 10px;
}

.btn-row {
    padding-bottom: 30px;
}

.btn-add {
    margin-top: 25px;
    padding-bottom: 30px;
    
}

/*-----------------------------cards */
.card-title {
    text-shadow: 0.5px 0.5px;
    padding-bottom: 10px;
    text-align: center;
}

/*-----------------------------headers */
.beer_header {
    margin-left:20px;
    text-align: justify;
}

.page-header {
    text-align: center;
    text-shadow: 1px 1px;
    text-decoration-color: #263238;
}

/*-----------------------------navbar */
.brand-logo {
    margin-left:20px;
}

.beernav {
    background-color: #ffb300;
}

/*-----------------------------input fields */
.beer_input {
    height: 100%;
}

/*-----------------------------icons */
.icon_padding {
    padding-right:10px;
}

.button-icon {
    padding-right:15px;
}

/*-----------------------------lists */
.coll-list {
    background-color: #ffecb3;
}

.coll-head {
    background-color: #ffd54f;
}

/*-----------------------------footer */
.footer-image {
    background-image: url('https://www.freepngimg.com/thumb/beer/11-2-beer-png-8.png');
    height: 200px;
    width:100%;
}

footer {
    padding-top: 30px;
}

/*-----------------------------media queries */
@media only screen and (max-width: 600px) {
    .footer-image {
        display: none;
    }
    .beertip {
        data-position: right;
    }
}