/*-----------------------------buttons */
.btn_beer {
    height: 25px;
    width : 62px;
    line-height: 25px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

#beer_submit {
    padding-top: 50px;
}

.socdist_switch {
    margin-left:15px;
    margin-top:3em;
}

.addbtn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.btncol{
    text-align: center;
}
/*-----------------------------headers */
.beer_header {
    margin-left:20px;
}

.page-header {
    text-align: right;
}

/*-----------------------------navbar */
.brand-logo {
    margin-left:20px;
}

.beernav {
    background-color: brown;
}

/*-----------------------------input fields */
.beer_input {
    height: 100%;
}

/*-----------------------------icons */
.icon_padding {
    padding-right:10px;
}

.button-icon {
    padding-right:15px;
}

/*-----------------------------footer */
.footer-image {
    background-image: url('https://lh3.googleusercontent.com/proxy/UQQ4DsFphP_dl4hcwdUwJbxe6Z2TwFktUd7cfHUXQSMbpK0BvYqT01Xq4bpxLCkldg-RZc_rLnIopJOWaUfqdhDRYnNQvyZAQZR99ZBjz8hGMjNuBFLekgM');
    height: 300px;
    width:100%
}