{% extends 'base.html' %}
{% block content %}
<ul class="collapsible" data-collapsible="accordion">
    {% for beer in ratings %}
    <li>
        <div class="collapsible-header">
        <div class="col s3 ">
        <a href="{{url_for('edit_beer', beer_id=beer._id)}}" class="waves-effect waves-light btn btn_beer blue"><i class="material-icons right">edit</i>Edit</a>
        <a class="waves-effect waves-light btn btn_beer"><i class="material-icons right">done</i>Done</a>
        </div>
            <div class=" beer_header col s6">
                <p><strong>Beer: </strong>{{beer.beer_name}}  |  <strong>Brewed by: </strong>{{beer.brewery_name}} <br><strong>Drank at: </strong>{{beer.beer_location}}   | <strong>On date: </strong>{{beer.drank_date}}</p>
                <i class="material-icons">expand_more</i>
            </div>
        </div>
        <div class="collapsible-body">
            <span>
                <p><strong><span class="material-icons">comment</span>Comments: </strong>"{{beer.beer_comm}}"</p>
            </span>
            <br>
            <span>
                <p><strong><span class="material-icons">grade</span>Rating: </strong>{{beer.beer_rating}}/10</p>
            </span>
            <br>
            <span>
                <p><strong><span class="material-icons">6_ft_apart</span>Social distancing observed: </strong> {{beer.soc_dist}}</p>
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}