{% extends 'base.html' %}
{% block content %}
<h2>Edit a Beer!</h2>
<div class="row">
    <form action="{{url_for('insert_beer')}}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">local_drink</i>
          <input id="beer_name" name="beer_name" type="text" class="validate">
          <label for="icon_prefix">Beer Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">add_business</i>
          <input id="brewery_name" name="brewery_name" type="text" class="validate">
          <label for="icon_prefix">Brewery Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">place</i>
          <input id="beer_location" name="beer_location" type="text" class="validate">
          <label for="icon_prefix">Drank at</label>
        </div>
       </div>
       <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">date_range</i>
          <input id="drank_date" name="drank_date" type="text" class="datepicker">
          <label for="icon_prefix">On date</label>
        </div>
       </div>
       <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">comment</i>
          <textarea id="beer_comm" name="beer_comm"  class="materialize-textarea" maxlength="300"></textarea>
          <label for="icon_prefix">Comments</label>
        </div>
       </div>
       <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">grade</i>
          <input id="beer_rating" name="beer_rating" type="number" class="validate" min="0" max="10">
          <label for="icon_prefix">Rating */10</label>
        </div>
       </div>
       <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">6_ft_apart</i>
          <label id="soc_dist" name="soc_dist" class="validate">
          <label for="icon_prefix">Social Distancing Observed?</label>
            <div class="switch">
                <label>
                    No
                    <input type="checkbox">
                    <span class="lever"></span>
                    Yes
                </label>
            </div>
        </div>
       </div>
       <div class="row">
        <div class="container col sm 12" id="beer_submit">
            <button class="btn waves-effect waves-light" type="submit" name="action">Beer Me!
                <i class="material-icons right">send</i>
            </button>
       </div>
       </div>
    </form>
</div>
{% endblock %}